body {
    display: flex;
    flex-direction: column;
}

.newMessages {
    flex: 1;
    display: flex;
}

.thread {
    display: flex;
    justify-content: center;
}

.threadText {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    padding: 1%;
    background-color: #AAAAAA;
    min-height: 30vh;
    margin: 0 1%;
}

.emails, .headers {
    display: flex;
    justify-content: space-between;
}

.loading {
    font-size: 5vh;
    margin: auto;
}

.venueMessage, .celebratorMessage {
    margin: 10px;
}

li {
    list-style-type: none;
}

.venueMessage span {
    background-color: #80ecdb;
}

.venueMessage span, .celebratorMessage span {
    border-radius: 10px;
    padding: 5px;
}

.celebratorMessage span {
    background-color: #ecaca9;

}

.celebratorMessage {
    text-align: right;
}

textarea, input, h1, h4, button {
    resize: none;
    margin: 0 1% 1% 1%;
}

button:last-of-type {
    background-color: #ecaca9;
}

h4, h1 {
    color: #80ecdb;
}

h4:last-of-type, h1:last-of-type {
    color: #ecaca9;
}

button {
    flex-basis: 20%;
    background-color: #80ecdb;
}

textarea {
    height: 30vh;
    flex: 1;
}