<div>
    <p>${senderEmail} Sent you new message.</p>
    <p>Please reply using ether following form or just your email client</p>
</div>
<h4><span style=" background-color: #ecaca9;
        border-radius: 10px;
        padding: 5px;">${messageText}</span></h4>
<h5>Spam report</h5>
<table style="border: 1px solid black;
        margin-bottom: 10px;">
    <tr>
        <td><a href="http://spamcheck.postmarkapp.com">spamcheck.postmarkapp.com </a> spam safety score</td>
        <td><strong>${spamScore}</strong></td>
    </tr>
    <tr>
        <td>Spam words count</td>
        <td><strong>${spamWordsCount}</strong></td>
    </tr>
</table>
<form action="${respondUrl}" method="get" id="responseForm" target="votar">
    <input type="hidden" name="senderEmail" value="${senderEmail}">
    <input type="hidden" name="recipientEmail" value="${recipientEmail}">
    <input type="text" name="text"/>
    <br><br>
    <input type="submit" value="Reply">
</form>